[Unit]
Description=Run Obsidian Tools Vault Indexer periodically

[Timer]
OnBootSec=5min
OnUnitActiveSec=__INDEX_INTERVAL__min
Persistent=true

[Install]
WantedBy=timers.target
